
@font-face{
    font-family: fonte;
    src:url("../fontes/fonte.otf");
}
@font-face{
    font-family: rancho;
    src:url("../fontes/rancho.ttf");
}
@font-face{
    font-family: prole;
    src:url("../fontes/prole.ttf");
}
.nav-link{
    font-family: fonte;
    color:#28a745;  
    margin: 2px;
    background-color:#f8f9fa; 
}
.nav-link:hover{
 
    color: #28a745;
}
.navbar-brand{
  font-family: fonte;
}
#logoImg{
    border-radius: 20%;
    margin: 5px;
}
#botaoInv{
    border: none;
    font-family: fonte;
    font-size: 17px;
}
#botaoInv:hover{
    color:#28a745;
    background-color:#f8f9fa;
}
#mini{
    display: none;
}
#frente{   
	height:500px;
    margin: 20px;   
}
#miniMirim{
    color: #28a745;
}
#mirim{
    color: #28a745;
}
#mirim1{
    display: none;
}
#juvenil{
    color: #28a745;
}
#juvenil1{
    display: none;
}
#adulta{
    color: #28a745;
}
#adulta1{
    display: none;
}
#veterana{
    color: #28a745;
}
#xiru{
    display: none;
}
#evento{
    display: none;
    margin: auto;
    font-style: oblique;   
    color: #28a745;
    
}
#contatos{
    display: none;
    text-align: center;
    margin-top: 10px;
    color: #28a745;
    
}
#con{
    filter: grayscale(100%);
}
#con:hover{
    filter: grayscale(0%);
}
#lema{
    margin-top: 20px;
    text-align: center; 
    font-size: 15px; 
    font-family: oblique;
    width: 800px;
}
#lema>h3{
    color:#28a745;
}
#desMini{
    display: none;
    text-align: center; 
}
#desMirim{
    display: none;
    text-align: center; 
}
#desJuv{
    display: none;
    margin-top: 13px;
    text-align: center; 
}
#desAdul{
    display: none;
    text-align: center; 
}
#desXiru{
    display: none;
    text-align: center; 
}
h1{
    font-family: rancho;
}
h2{
    font-family: prole;
}