
@font-face{
    font-family: fonte;
    src:url("../fontes/fonte.otf");
}
@font-face{
    font-family: rancho;
    src:url("../fontes/rancho.ttf");
}
@font-face{
    font-family: cali;
    src:url("../fontes/cali.ttf");
}
.nav-link{
    font-family: fonte;
    color:#28a745;  
    margin: 2px;
    background-color:#f8f9fa; 
}
.nav-link:hover{
 
    color: #28a745;
}
.navbar-brand{
  font-family: fonte;
}
#logoImg{
    border-radius: 20%;
    margin: 5px;
}
#botaoInv{
    border: none;
    font-family: fonte;
    font-size: 17px;
}
#botaoInv:hover{
    color:#28a745;
    background-color:#f8f9fa;
}
#mini{
    display: none;
}
#frente{   
	height:500px;
    margin: 20px;   
}
#miniMirim{
    color: #28a745;
}
#mirim{
    color: #28a745;
}
#mirim1{
    display: none;
}
#juvenil{
    color: #28a745;
}
#juvenil1{
    display: none;
}
#adulta{
    color: #28a745;
}
#adulta1{
    display: none;
}
#veterana{
    color: #28a745;
}
#xiru{
    display: none;
}
#evento{
    display: none;
    margin: auto;
    font-style: oblique;   
    color: #28a745;
    text-align: center;
}
#contatos{
    display: none;
    text-align: center;    
    color: #28a745;    
}
#con{
    filter: grayscale(100%);
    margin: 20px;
    width: 70px;
}
#con:hover{
    filter: grayscale(0%);
}
#mail{
   filter: grayscale(100%);
   margin: 20px;
   width: 70px;   
}
#mail:hover{
    filter: grayscale(0%);
}
#tele{
   filter: grayscale(100%);
   margin: 20px;
   width: 70px;   
}
#tele:hover{
    filter: grayscale(0%);
}
#midias{
    margin-top: 20px; 
}
#lema{
    margin-top: 20px;
    text-align: center; 
    font-size: 15px; 
    font-family: oblique;
    width: 800px;
    width: 100%;
}
#lema>h3{
    color:#28a745;
}
#desMini{
    display: none;
    text-align: center; 
    margin-top: 13px;
}
#desMirim{
    display: none;
    text-align: center; 
    margin-top: 13px;
}
#desJuv{
    display: none;
    margin-top: 13px;
    text-align: center; 
}
#desAdul{
    display: none;
    text-align: center; 
    margin-top: 13px;
}
#desXiru{
    display: none;
    text-align: center; 
    margin-top: 13px;
}
#gmail{
    display: none;
    margin-top: 20px;
    font-size: 18px;
}
#telefones{
    display: none;
    margin-top: 20px;
    font-size: 18px;
    list-style-type: none;    
}
h1{
    font-family: rancho;
}
h2{
    font-family: rancho;
}
h3{
    font-family: rancho;
}

.eventosFotos {
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-image: url('../imagens/titulados.JPG');
}

.eventosFotos > h1 {
    width: 100%;
    height: 100%;
    display: block;
    color:  transparent;
}

.eventosFotos > h1:hover {
    color: white;
    opacity: 0.5;
    background-color: black;
}
.eventosFotosNiver {
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-image: url('../imagens/aniversario.JPG');
}

.eventosFotosNiver > h1 {
    width: 100%;
    height: 100%;
    display: block;
    color:  transparent;
}

.eventosFotosNiver > h1:hover {
    color: white;
    opacity: 0.5;
    background-color: black;
}
.eventosFotosEstreia{
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-image: url('../imagens/estreiaadul.JPG');
}

.eventosFotosEstreia > h1 {
    width: 100%;
    height: 100%;
    display: block;
    color:  transparent;
}

.eventosFotosEstreia > h1:hover {
    color: white;
    opacity: 0.5;
    background-color: black;
}
.eventosFotosRodeio{
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-image: url('../imagens/rodeio2.jpg');
}

.eventosFotosRodeio > h1 {
    width: 100%;
    height: 100%;
    display: block;
    color:  transparent;
}

.eventosFotosRodeio > h1:hover {
    color: white;
    opacity: 0.5;
    background-color: black;
}
.eventosFotosFest{
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-image: url('../imagens/rodeio.jpg');
}

.eventosFotosFest > h1 {
    width: 100%;
    height: 100%;
    display: block;
    color:  transparent;
}

.eventosFotosFest> h1:hover {
    color: white;
    opacity: 0.5;
    background-color: black;
}
.eventosFotosAber{
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-image: url('../imagens/abertura.JPG');
}

.eventosFotosAber > h1 {
    width: 100%;
    height: 100%; 
    display: block;
    color:  transparent;
}

.eventosFotosAber> h1:hover {
    color: white;
    opacity: 0.5;
    background-color: black;
}